  input[type=range] {
    -webkit-appearance: none;
    background: #fff;
    height: 5px;
    width: 100%;
    outline: none;
    cursor: pointer;
  }
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #ccc;
    height: 10px;
    width: 8px;
    border-radius: 3px;
  }
  #player {width: 350px; background: #fff; border: 1px solid #ccc; box-shadow: rgba(0,0,0,0.2) 0 2px 6px;}
  #controls {background: #404040; box-shadow: rgba(0,0,0,0.2) 0 1px 1px; position: relative;}
  #controls .glyphicon{font-size: 24px; color: #fff; cursor: pointer;}
  #controls input[type=range] {position: absolute; bottom: 0; visibility: hidden;} 
  #controls .glyphicon-play ,
  #controls .glyphicon-pause {font-size: 36px; margin: 0 20px;}
  #controls nav {border-bottom: 1px solid #ccc; display:flex; align-items: center; height: 70px; justify-content: center;}
  #controls .glyphicon-pause{display: none;}
  .playing #controls .glyphicon-pause{display: inline-block;}
  .playing #controls .glyphicon-play{display: none;}
  .playing #controls input[type=range] {visibility: visible;}
  #list { margin: 0; padding: 5px 0;}
  #list .message {visibility: hidden;}
  #list.hover {padding: 20px;}
  #list.hover .message{visibility: visible;}
  #list li {list-style-type: none; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
  #list li.disabled {color: #aaa;}
  #list li:hover {background: #dfdfdf; cursor: pointer;}
  #list li .glyphicon-music{visibility: hidden;}
  #list li.playing .glyphicon-music {visibility: visible;}
  #list .message{text-align: center; font-size: 32px; height: 400px; line-height: 400px; color: #aaa; border: 5px dashed #aaa;}
